@font-face {
    font-family: "StarJedi";
    src: url("./StarJedi.eot"); /* IE9*/
    src: url("./StarJedi.eot?#iefix") format("embedded-opentype"),
	url("./StarJedi.woff2") format("woff2"),
	url("./StarJedi.woff") format("woff"),
	url("./StarJedi.ttf") format("truetype")
}